@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #5d5d7d;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.container-left {
    width: 55%;
    padding: 0 80px;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5d5d7d29;
    height: 100vh;
    width: 45%;
    position: fixed; /* Para manter o fundo ocupando toda a altura */
    top: 0;
    right: 0;
}

img {
    position: absolute; /* Posiciona em relação ao .container-right */
    bottom: 20px; /* 20px acima da borda inferior */
    width: 90%;
    max-width: 450px;
}

h1 {
    font-size: 4.3rem; /* 70px */
    line-height: 1.1;
    max-width: 450px;
}

p {
    font-size: 1.75rem; /* 28px */
    line-height: 1.5;
    opacity: 0.6;
    margin: 15px 0;
    max-width: 540px;
}

button {
    width: 269px;
    height: 62px;
    background: #9499ea;
    box-shadow: 0 10px 24px #9499ea1a;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem; /* 24px */
    line-height: 1.5;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

a {
    font-size: 1.75rem; /* 28px */
    line-height: 1.5;
    color: #5d5d7d;
    margin-right: 41px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:hover,
a:focus {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 24px 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        height: auto;
    }

    .container-left {
        width: 100%;
        padding: 20px;
        text-align: center;
        order: 2; /* Muda a ordem visual, o conteúdo vem depois da imagem */
    }

    .container-right {
        height: auto;
        width: 100%;
        position: static; /* Remove a posição fixa */
        padding: 20px 0;
        order: 1; /* A imagem vem primeiro */
    }

    img {
        position: static;
        max-width: 70%;
        margin: 0 auto;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 2.25rem; /* 36px */
        line-height: 1.4;
        width: auto;
        margin: 20px auto 0;
        max-width: 100%;
    }

    p {
        margin: 15px auto;
        width: auto;
        text-align: center;
        font-size: 0.875rem; /* 14px */
        line-height: 1.7;
        max-width: 90%;
    }

    button {
        margin: 0 auto;
        display: block;
    }
}